@import 'bourbon';

#new_policy {
	input, textarea {
		font-size: 14px;
		font-family: helvetica;
		padding: 5px;
		width: 380px;
	}

	#policy_topic {
		width: 120px;
	}

	#policy_position {

	}

	#policy_explanation {

	}

}

.user_policy {
	h3 {
		margin-bottom: 3px;
	}
	padding: 0 0 5px 0;
	border-bottom: 1px solid #f2efeb;
}
