@import 'bourbon';

#new_policy {
	input, textarea {
		font-size: 14px;
		font-family: helvetica;
		padding: 5px;
		width: 380px;
	}

	#policy_topic {
		width: 120px;
	}

	#policy_position {

	}

	#policy_explanation {

	}

}

.user_policy {
	h3 {
		margin-bottom: 3px;
	}
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid #f2efeb;
}

.policy_timestamp {
	margin: 0px 0px 7px 0px;
	font-size: 12px;
	font-style:italic;
	color: #5e5e5e;
}
