// HOME PAGE 

@import "bourbon";
@import 'constants';

/************************
//
// Logo Area 
//
************************/
#concept_overview {
	display: block;
	position: relative; 
	height: 60px;
	margin: 0 auto;
	clear:both;
	font-size:30px;
	text-shadow: 1px 1px 1px 1px white;

	#logo_container {
		text-align:center;
		height: auto;
		margin: 0 auto;	

		.cartouche {
			display: inline;
			float: left;
			position: relative;
			text-align: center;
			margin: 10px auto 0px auto;
		}
		
		#cartouche_left {
			margin: 15px auto 0px 237px;
			padding: 0 3px 0 0;
		}
		
		#cartouche_right {
			margin: 15px 0 0 -2px;
		}
		
		#logo_lander {
			display: inline;
			float: left;
			position: relative;
		}
		
		#home_logo {
			font-weight:bold;
			font-size: 50px;
			margin:0;
			padding:0;
			vertical-align: top;
			line-height: 38px;
			color:#381F03;
			color: slate;
			text-shadow: 0px -1px 1px #404040;
		}
		
		#home_tag {
			margin:0;
			padding:0;
			font-size: 16px;
			color: #696561;
			color: #5c5854;
			color: #4d4844;
			color: #403a36;
			text-shadow: 0px -1px 1px white;
		}
	}
}

/************************
//
// Main Form 
//
************************/
#lander_input_area {
	// MAIN SECTION
	display:block;
	position:relative;
	clear:both;
	width: 100%;
	height: 210px;
	margin: 15px 0px 25px 0px;
	background-color: #f0f6fa;
	@include border-radius(20px);
	border: 1px solid lightskyblue;
	@include box-shadow(0px 0px 4px 3px #cccac2, inset 0px 1px 6px 0px #243742, inset 0px -1px 6px 0px #243742);

	#lander_input_nav {
		width: 99%;
		height: 30px;
		display: block;
		margin: 5px auto 0px auto;
		font-weight: normal;
		text-align: center;
		@include border-radius(17px 17px 0px 0px);
		background-color: #f2f6f7;
		border-bottom: 1px solid #d4d4d4;

		#lander_nav_container {
			vertical-align: center;
			color:gray;
		}
	}

	#form_container {
		margin: 0 auto;
		padding: 15px 0 0 0;
		text-align: center;

		input {
			font-size: 18px;
			width: 500px;
			border:1px solid lightskyblue;
			padding: 5px;
		}
		.home_form_issue {
			@include border-radius(10px 10px 0 0);
			
		}
		textarea {
			width: 500px;
			height: 50px;
			border: 1px solid lightskyblue;
			@include border-radius(0 0 10px 10px);
			padding: 5px;
			margin: 0px 0px 10px 0px;
			font-size: 18px;
			resize:none;

		}

		button {
			width: 150px;
			font-size: 18px;
			padding: 5px 0; 
		}

	}

} // END: 'lander_input_area'

/************************
//
// Feed Area 
//
************************/
#content_overview {
	#overview_container {
		width: $page_width * .55;
		height: auto;
		margin: 0 auto;
		padding: 0 0 10px 0;

		#top_policy_makers {
			display: block;
			position: relative;
			h1 {
				display: inline;
				padding: 0 0 0 0;
				margin: 0;
			}
		}

	}
}
