<% title "Update Profile" %>
<h1 id="profile_username"><%= @user.username.capitalize %></h1>
<%= link_to("â† back", user_path(@user)) %>
<%= render :partial => "user_info", :object => @user, :as => :user %>


<%= render 'form' %>
