	<input type="text-field" class="home_form_issue" placeholder="What's the issue?"/><br/>

	<input type="text-field" class="home_form_policy" placeholder="What's the problem?"/><br/>

	<textarea placeholder="What should we do?"></textarea>
	<br/>
	<button class="blue button">Post</button>
