	<input type="text-field" class="home_form_issue" placeholder="What's the issue?"/><br/>

	<input type="text-field" class="home_form_policy" placeholder="What should we do?"/><br/>

	<textarea placeholder="Explain"></textarea>
	<br/>
	<button class="blue button">Post</button>
