	<input type="text-field" class="home_form" placeholder="What's the issue?"/><br/>

	<input type="text-field" class="home_form" placeholder="What should we do?"/><br/>

	<textarea placeholder="Explain"></textarea>
	<br/>
	<button>Post</button>
