@import 'bourbon';
$page_width: 900px;

body {
	background-color: #fff4e6;
	background-color: #fff9f0;
  font-family: Helvetica, Arial;
  font-size: 14px;
	margin: 0;
	color: #242323;
//	background-image:url(stripes.png);
	background-color:white;
 @include background-image(url('bk_noise_4.png'), linear-gradient(bottom, #fff9f0, white 12%));
}

h1 {
	text-shadow: -1px 1px 1px #7d7468;
	font-size:28px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/******************************
 * FLASH
 *****************************/
#flash {
	min-height: 70px;
	width: 100%;
	display:inline;
	position:fixed;
	z-index:99;
	background-color:yellow;
	background-image:url('stripes_clear.png'), -webkit-linear-gradient(left, #964e14, #ffa500 33%); /* Chrome 10+, Saf5.1+ */
	border-bottom:2px solid #f7e40c;
	border-bottom:2px solid #fcdc0a;
	@include box-shadow(0px 1px 10px 1px grey);

	#flash_container {
		width: 100%;
		margin: 0 auto;
		margin-top: 45px;
		text-align:center;
		text-shadow: 2px -2px 0px #fcf1cf;
		dl {
			margin: 0;
			padding: 0 0 5px 0;
		}
		dt {
			color: #e3dcca;
			color:#4a4a4a;
			color: #59564a;
			font-size: 23px;
			font-size:31px;
			font-weight:bold;
			margin: 0;
			padding: 0;
		}
		dd {
			color: #59564a;
			font-size:18px;
			margin: 0; 
			padding: 0;
		}
	}
}

/******************************
 * NAV BAR
 *****************************/
#system_nav {
	top: 0;
	height: 50px;
	width: 100%;
	display: block;
	position: fixed;
	clear: both;
	padding: 0;
	margin: 0;
	z-index: 100;
//	@include background-image(linear-gradient(left, #964e14, #ffa500 33%));

	background: #964e14;
	background-image: url(header_noise_copy.png); /* fallback */
	background-image: url(header_noise_copy.png), -webkit-gradient(linear, left, right, from(#964e14), to(#ffa500) 33%); /* Saf4+, Chrome */
	background-image: url(header_noise_copy.png), -webkit-linear-gradient(left, #964e14, #ffa500 33%); /* Chrome 10+, Saf5.1+ */
	background-image:    url(header_noise_copy.png), -moz-linear-gradient(left, #964e14, #ffa500 33%); /* FF3.6+ */
	background-image:     url(header_noise_copy.png), -ms-linear-gradient(left, #964e14, #ffa500 33%); /* IE10 */
	background-image:      url(header_noise_copy.png), -o-linear-gradient(left, #964e14, #ffa500 33%); /* Opera 11.10+ */
	background-image:         url(header_noise_copy.png), linear-gradient(left, #964e14, #ffa500 33%); /* W3C */





	@include box-shadow(#4F3F33 0px 1px 1px);
	border-bottom: 3px solid #964e14;

	#nav_container {
		width: $page_width;
		height: 50px;
		margin: 0 auto;
		padding: 0px 40px;
		
		dl {
				display:block;
				padding: 0 10px 0 10px;

			dt {
				font-weight: bold;
			}
			dd {
				float:left;
				color:white;
				font-size:12px;
				margin: 0;	
				padding: 0 0 0 13px;
			}
		}

		#nav_left_side {
			display:inline;
			float:left;
			position: relative;
			width: 50%;
			height: 100%;

			#logo {
				display:inline;
				float:left;
				position: relative;
				font-weight: bold;
				font-size: 23px;
				text-decoration: none;
				padding: 13px 10px 0 0;
				a {
					color: #f7f3eb;
					text-decoration: none;
					text-shadow: 0px -1px 1px #4d3000;
				}
			}
			#new_policy, #highlight_issue {
				float:left;
				border-right: 1px solid #e39309;
				border-left: 1px solid #e39309;
				width: auto;
				height:100%;
				text-shadow: 0px -1px 1px #d1861d;
				a {
					color: #f7f3eb;
					text-decoration: none;
				}
			}
			#highlight_issue {
				border-left: 1px solid #bf7a04;
				border-right: 1px solid #e09e2b;
				//border-right: 1px solid #cc850a;

				dd {
					padding: 0 0 0 20px;
				}
			}
		}

		#nav_right_side {
			display:inline;
			position:relative;
			float:left;
			width:50%;
			height:100%;
			text-align:right;
//			border-left: 1px solid #cc850a;

			#logins {
				margin: 15px 0 0 0;
				a {
					font-weight:bold;
					text-shadow: 0px -1px 1px #b36c09;
					text-decoration: none;
					color: white;
				}
			}
		}
	}
}

/******************************
 * MAIN  
 *****************************/
#container {
  width: $page_width;
  margin: 0 auto;
  background-color: #FFF;
  padding: 30px 40px;
// border-left: solid 1px #e0ae67;
//  border-right: solid 1px #e0ae67;
	min-height: 500px;
  margin-top: 20px;
	@include background-image(url('bk_noise_4.png'), linear-gradient(bottom, #fff9f0, white 12%));
//	@include box-shadow(0px -5px 5px 1px #f5e1cb);
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
