@import 'bourbon';
$page_width: 900px;

body {
	background-color: #fff4e6;
	background-color: #fff9f0;
  font-family: Helvetica, Arial;
  font-size: 14px;
	margin: 0;
	color: #242323;
}

h1 {
	text-shadow: -1px 1px 1px #7d7468;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/******************************
 * NAV BAR
 *****************************/
#system_nav {
	top: 0;
	height: 50px;
	width: 100%;
	display: block;
	position: fixed;
	clear: both;
	padding: 0;
	margin: 0;
	z-index: 100;
	@include background-image(linear-gradient(left, #964e14, #ffa500 33%));
	@include box-shadow(#4F3F33 0px 1px 1px);
	border-bottom: 3px solid #964e14;

	#nav_container {
		width: $page_width;
		height: 50px;
		margin: 0 auto;
		padding: 0px 40px;
		
		dl {
				display:block;
				padding: 0 10px 0 10px;

			dt {
				font-weight: bold;
			}
			dd {
				float:left;
				color:white;
				font-size:12px;
				margin: 0;	
				padding: 0 0 0 4px;
			}
		}

		#nav_left_side {
			display:inline;
			float:left;
			position: relative;
			width: 50%;
			height: 100%;

			#logo {
				display:inline;
				float:left;
				position: relative;
				font-weight: bold;
				font-size: 23px;
				text-decoration: none;
				padding: 13px 10px 0 0;
				a {
					color: #f7f3eb;
					text-decoration: none;
					text-shadow: 0px -1px 1px #4d3000;
				}
			}
			#new_policy {
				float:left;
				border-right: 2px solid #e39309;
				border-left: 2px solid #e39309;
				width: auto;
				height:100%;
				text-shadow: 0px -1px 1px #d1861d;
				a {
					color: #f7f3eb;
					text-decoration: none;
				}
			}
		}

		#nav_right_side {
			display:inline;
			position:relative;
			float:left;
			width: 50%;
			height:100%;
			text-align:right;
			
			#logins {
				margin: 15px 0 0 0;
				a {
					font-weight:bold;
					text-shadow: 0px -1px 1px #b36c09;
					text-decoration: none;
					color: white;
				}
			}
		}
	}
}

/******************************
 * MAIN  
 *****************************/
#container {
  width: $page_width;
  margin: 0 auto;
  background-color: #FFF;
  padding: 30px 40px;
  border-left: solid 1px #e0ae67;
  border-right: solid 1px #e0ae67;
	min-height: 500px;
  margin-top: 20px;
	@include background-image(linear-gradient(bottom, #fff9f0, white 12%));
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
