@import 'bourbon';
h1 {
	margin-bottom: 0px
}

a { color: #587da1;}
a:hover { color: blue; }

.spacer {
	height: 16px;
}

.user_listing {
	position: relative;
	display: block;
	height: 80px;
	padding: 0 0 20px 0;
	clear: both;

	.user_avatar {
		position: inline;
		float: left;
		padding: 0 10px 0 0;
	}

	.user_details {
		position: inline;
		clear: right; 
		font-size: 13px;
	}
}

h2 {
	padding: 0;
	margin: 0;
}
.header_link {
	color: #1f1f1f;
	text-decoration: none;
}


.subtext {
	padding: 0;
	margin: 0;
	font-style: italic;
}
	
