@import 'bourbon';

.user_listing {
	a {
		display:inline;
		position:relative;
		padding:0;
		margin:10px 0 0 0;
		vertical-align: top;
	}
	img {
			@include border-radius(13px);
	}
}


#profile_username {
	margin-bottom: 0px;
}

a {
	text-decoration:none;
}

#avatar_container {
	@include box-shadow(0px 0px 1px 1px #dbdbdb, 0px 0px 1px 2px #7a7a7a, 0px 0px 6px 4px #baad95);
	@include box-shadow(0px 0px 1px 2px #7a7a7a, 0px 0px 6px 4px #baad95);
	margin: 0;
	padding: 0;
	max-height: 80px;
	@include border-radius(12px);
	img {
		@include border-radius(12px);
	}
}
	

#policies_container {
	background-color: white;
}
